/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(37, 94, 233);
}

footer {
  height: 100px;
  padding-top: 20px;
  display: flex;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

ul {
  color: white;
  list-style: none;
}

/* FLEX */
.flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/* TEXT ALIGN */
.text-center {
  text-align: center;
}

/* CONTAINER */
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container-sm {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

/* WIDTH */
.wd-20 {
  width: 20%;
}

.wd-60 {
  width: 60%;
}

.wd-40 {
  width: 40%;
}

.wd-100 {
  width: 100%;
}

.wd-28 {
  width: 28%;
}

.wd-18 {
  width: 18%;
}

/* BORDER */
.border {
  border: 2px dashed black;
}

.border-w {
  border-top: 1px solid white;
}

/* BACKGROUND COLORS */
.bg-lgray {
  background-color: rgb(245, 245, 245);
}

.bg-dgray {
  background-color: rgb(35, 39, 42);
}

.bg-aqua {
  background-color: aquamarine;
}

/* COLOR */
.text-blue {
  color: rgb(104, 124, 183);
}

/* PADDING */
.pdlr {
  padding-left: 5px;
  padding-right: 5px;
}

.pd-30 {
  padding: 30px 0;
}

.pd-10 {
  padding: 10px 0;
}

.pd-15 {
  padding: 15px 0;
}

.pdbot-30 {
  padding-bottom: 30px;
}

/* MARGIN */
.mgtop-40 {
  margin-top: 40px;
}

.mgtop-20 {
  margin-top: 20px;
}

/* ALTEZZE */
.h-400 {
  height: 400px;
}

.h-700 {
  height: 700px;
}

.h-900 {
  height: 900px;
}

/* LINE HEIGHT */
.line-2_4 {
  line-height: 2.4rem;
}

/* FONT-SIZE */
.size-20 {
  font-size: 20px;
}

/* HEADER */
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header div span {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

header div button {
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header div span a:hover {
  color: rgb(208, 236, 255);
}

header div button:hover {
  background-color: rgb(208, 236, 255);
}

/* DIV CONTAINER SMALL */
div.jumbo {
  height: 615px;
}

.jumbo {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.bg-menu {
  background-color: rgb(37, 94, 233);
  padding: 5px 0;
}

div div h1 {
  color: white;
  padding-top: 90px;
  padding-bottom: 40px;
  font-size: 60px;
}

.intestazione {
  color: white;
  text-align: center;
}

/* SECTION BUTTONS */
section button {
  margin-top: 20px;
}

section button.mac {
  background-color: white;
  padding: 15px 50px;
  margin-right: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

section button.browser {
  color: white;
  background-color: rgb(36, 40, 43);
  padding: 15px 70px;
  margin-left: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

section button.mac:hover {
  background-color: rgb(227, 241, 251);
}

section button.browser:hover {
  background-color: rgb(57, 59, 60);
}

/* SECTION TABLET */
.mac2 {
  background-color: rgb(142, 161, 226);
  color: white;
  padding: 15px 50px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

section button.mac2:hover {
  background-color: rgb(172, 183, 217);
  color: rgb(255, 238, 238);
}

/* SECTION INFORMAZIONI */
h3.informazioni {
  color: rgb(104, 124, 183);
  font-size: 2.4rem;
}

section div div img.italy {
  height: 20px;
  width: 30px;
  margin-top: 20px;
}

.lingua {
  color: white;
}

/* FOOTER */
.registrati {
  background-color: rgb(142, 161, 226);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

button.registrati:hover {
  background-color: rgb(172, 183, 217);
  color: rgb(255, 238, 238);
}